# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cloudnerf-frontend/node_modules
/cloudnerf-backend/node_modules

# supabase
supabase/db/data
supabase/storage

# tmp files
tmp/


